
div.selector,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
    background-image: url(../../images/sprite.png);
    background-repeat: no-repeat;
}

.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader * {
    margin: 0;
    padding: 0;
}

/* SPRITES */

/* Select */

div.selector, div.selector.focus, div.selector.hover {
    background-position: right 1px;
    line-height: 33px;
    height: 33px;

}

/* Select */
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
    outline: 0;
}


div.selector span {
    color: #666;
    width: 100%;
    text-shadow: 0 1px 0 #fff;
    height: 28px;
    line-height: 29px;
    padding: 3px 0 3px 6px;
    cursor: pointer;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.selector.disabled span {
    color: #bbb;

}


div.selector {
    position: relative;
    border: 1px solid #d9d9d9;
    padding-left: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}


div.selector select {
    position: absolute;
    opacity: 0;
    height: 33px;
    background: none;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    border: 1px solid #d9d9d9;
    top: 0px;
    left: 0px;
}



/* Uploader */
div.uploader, div.uploader span.action {
    background-position: right -74px;
    height: 33px;
    border: 1px solid #d9d9d9;

}


div.uploader span.filename {
    color: #777;
    width: 100%;

    font-size: 90%;
    height: 33px; /* change this line to adjust positioning of filename area */
    margin: 2px 0px 2px 2px;
    line-height: 32px;
}


div.uploader.disabled span.action {
    color: #aaa;
}

div.uploader.disabled span.filename {
    border: 1px solid #d9d9d9;
    color: #aaa;
}


div.uploader {
    position: relative;
    float: left;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

div.uploader span.action {
    float: left;
    display: inline;
    padding: 2px 0px;
    overflow: hidden;
    cursor: pointer;
    width: 85px;
    text-align: center;
    text-shadow: #fff 0px 1px 0px;
    background-color: #fff;
    line-height: 33px;
}

div.uploader span.filename {
    padding: 0px 10px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.uploader input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 33px;
    border: 1px solid #d9d9d9;
    width: 100%;
}

div.uploader span.action, div.uploader:hover span.action, div.uploader.active span.action, div.uploader.focus span.action {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 96px;
    height: 33px;
    text-indent: -99999px;
}

/** Fixes **/

div.checker input, div.radio input {
    margin: 0 !important;
    top: -1px;
}

div.selector {
    padding: 0 !important;
}

/** IE Hacks **/


input {
    width:100%;
    font-family:Georgia, "Times New Roman", Times, serif;
    padding: 6px 0;
    color: #999999;
    border: 1px solid #d9d9d9;
    outline: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px #eee inset;
    -moz-box-shadow: 0 0 10px #eee inset;
    -webkit-box-shadow: 0 0 10px #eee inset;
    -ms-box-shadow: 0 0 10px #eee inset;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}



textarea {
    width:100%;
    font-family:Georgia, "Times New Roman", Times, serif;
    padding: 6px 0;
    color: #999999;
    border: 1px solid #d9d9d9;
    outline: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px #eee inset;
    -moz-box-shadow: 0 0 10px #eee inset;
    -webkit-box-shadow: 0 0 10px #eee inset;
    -ms-box-shadow: 0 0 10px #eee inset;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    height: 132px;
}



/** IE6 Only **/
.radio-group input, .checkbox-group input{
    *border:none;
    *background:none;
    *top:6px;
    *position:relative;
    *width:18px;
}